<nav class="navbar navbar-inverse navbar-expand-lg navbar-fixed-top bs-docs-nav bg-dark">
  <div class="container-fluid navbar-header">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><i class='bx bx-menu'></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/inicio">Perfil</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Empresas
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="/agregar-empresa">Agregar empresa</a></li>
            <li><a class="dropdown-item" routerLink="/detalles-empresa">Detalles empresas</a></li>
            <li><a class="dropdown-item" routerLink="/editar-empresa">Editar empresas</a></li>
            <li><a class="dropdown-item" routerLink="/listar-empresa">Listar empresas</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Empleados
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="/agregar-empleado">Agregar empleado</a></li>
            <li><a class="dropdown-item" routerLink="/detalles-empleado">Detalles empleado</a></li>
            <li><a class="dropdown-item" routerLink="/editar-empleado">Editar empleado</a></li>
            <li><a class="dropdown-item" routerLink="/listar-empleado">Listar empleado</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Clientes
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="/agregar-cliente">Agregar cliente</a></li>
            <li><a class="dropdown-item" routerLink="/detalles-empleado">Detalles cliente</a></li>
            <li><a class="dropdown-item" routerLink="/editar-empleado">Editar cliente</a></li>
            <li><a class="dropdown-item" routerLink="/listar-empleado">Listar cliente</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Productos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="">Agregar producto</a></li>
            <li><a class="dropdown-item" routerLink="">Detalles productos</a></li>
            <li><a class="dropdown-item" routerLink="">Editar productos</a></li>
            <li><a class="dropdown-item" routerLink="">Listar productos</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="">Facturas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="">Reportes</a>
        </li>
      </ul>
    </div>
  </div>
</nav>